.apartmentcomplex {
  min-height: 961px;
  background-image: url("/img/fotoapartmentcomplex.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #C5D210;
  background-size: cover;
  padding-top: 125px;
  padding-left: 263px;
  position: relative;
}

.apartmentcomplex__presentation {
  width: 664px;
  min-height: 664px;
  border-radius: 50%;
  background: linear-gradient(147.64deg, #FFFFFF 13.56%, #F1F1F1 85.54%);
  padding-top: 105px;
  padding-left: 145px;
}

.apartmentcomplex__presentation-title {
  Font-family: 'Geometria';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  text-transform: uppercase;
  max-width: 500px;
  color: #82B428;
  margin: 0;
  margin-top: 25px;
}

.apartmentcomplex__presentation-description {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  max-width: 358px;
  color: #2B2422;
}

.apartmentcomplex__presentation-button {
  width: 275px;
  min-height: 51px;
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(34.66deg, #BC1822 16.88%, #E53322 76%);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.apartmentcomplex__presentation-picture {
  width: 268px;
  min-height: 268px;
  border-radius: 50%;
  background: linear-gradient(147.64deg, #C5D210 13.56%, #82B428 85.54%);
  position: absolute;
  top: 15%;
  left: 43%;
}

.apartmentcomplex__presentation-item {
  width: 105px;
  min-height: 105px;
  border-radius: 50%;
  background: linear-gradient(147.64deg, #8DCEED 13.56%, #2DA3DC 85.54%);
  position: absolute;
  right: 40%;
  top: 45%;
}
