.apartmentcomplex {
  min-height: 961px;
  background-image: url("/img/fotoapartmentcomplex.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #C5D210;
  background-size: cover;
}
