.discounts {
  width: 1920px;
  min-height: 473px;
  margin-top: 150px;
  background-image: url("/img/fotodiscount.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2da3dc;
  position: relative;
}

.discounts__information {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 21%;
  top: 13%;
}

.discounts__information-title {
  max-width: 241px;
  font-family: "Geometria", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  color: #2da3dc;
  margin: 0;
  margin-bottom: -4px;
}

.discounts__information-description {
  max-width: 436px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 38px;
}

.discounts__information-button {
  width: 215px;
  height: 51px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
