.greeting {
  width: 1101px;
  min-height: 449px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 100px;
  gap: 62px;
}

.greeting__suggestion {
  display: flex;
  flex-direction: column;
}

.greeting__suggestion-title {
  max-width: 387px;
  margin: 0;
  font-weight: 800;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  color: #2da3dc;
  margin-bottom: 23px;
}

.greeting__suggestion-invitation {
  max-width: 408px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #2b2422;
}
