.picture {
  width: 1110px;
  min-height: 683px;
  margin: 0 auto;
  margin-top: 104px;
}

.picture__title {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  color: #2DA3DC;
  margin: 0;
  margin-bottom: 50px;
}

.picture__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
}
