.presentation {
  width: 1110px;
  min-height: 391px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 103px;
  gap: 56px;
}

.presentation__district {
  display: flex;
  flex-direction: column;
}

.presentation__district-title {
  color: #82b428;
  margin: 0;
  margin-bottom: 24px;
}

.presentation__district-description {
  max-width: 417px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #2b2422;
  margin-bottom: 5px;
}
