.roomplan {
  width: 1515px;
  margin-top: 110px;
  margin-left: 405px;
}

.roomplan__title {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  color: #82B428;
}

.roomplan__information {
  width: 1140px;
  min-height: 547px;
  display: flex;
  flex-direction: row;
  border: 1px solid #C5C5C5;
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.roomplan__price {
  padding-top: 70px;
}

.roomplan__price-information {
  font-family: 'Geometria';
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #000000;
}

.roomplan__price-information {
  margin-left: 40px;
}

.roomplan__description {
  padding-top: 70px;
}

.roomplan__description-flat {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #2B2422;
  margin: 0;
}

.roomplan__description-plan {
  max-width: 247px;
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #000000;
}

.roomplan__description-button {
  width: 241px;
  height: 51px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
